<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <%= render :partial => "link" %>
    <!-- Theme Style -->
    <link rel="stylesheet" href="stylesheets/blog.css">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v9.0"
        nonce="4Doqtprq"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v9.0" nonce="gBmMtvwj"></script>
</head>

<body id="page">
    <header id="header" role="banner" class="navbar navbar-expand-md">
        <%= render :partial => "header" %>
    </header>
    <div id="main">
        <%= yield %>
    </div>
    <footer id="footer">
        <%= render :partial => "footer" %>
    </footer>
    <%= render :partial => "script" %>
    <!-- Main JS -->
    <script src="js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {});
    </script>
</body>

</html>